.container {
  min-width: 600px;
}

.btn {
  color: white;

  background: linear-gradient(90deg, #7773c6, #9d6cc0, #bd64b2);
  border: 1px solid #7773c6;
  outline: none !important;
  box-shadow: none !important;
}

.btn:focus {
  outline: none !important;
}

.name {
  font-weight: bold;
}

.time {
  color: #999999;
  font-size: 0.7em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
